
body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    color: #fff;
    background: #1F2937;
    height: 30rem;
    width: auto;

}

.header_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.header_logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header_links ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.header_links ul li:hover {
    color: tomato;
    cursor: pointer;
}

.header_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.header_title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.header_info {
    color: #e5e7eb;
    font-size: 18px;
}

.header_button a {
    text-decoration: none;
    border: solid 1px rgb(60, 149, 255);
    border-radius: 10px;
    background: rgb(60, 149, 252);
    color: #fff;
    padding: 5px 30px;
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    margin-top: 10px;
}

a:hover {
    color: black;
}


.random_info  {
    color: black;
    background: #fff;
    height: 25rem;
    width: auto;
}

.info_header {
    margin-top: 3rem;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 4rem;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.image_1, .image_2, .image_3, .image_4 {
    text-align: center;
    font-weight: bold;
}

.quote {
    color: black;
    background: #e5e7eb;
    height: 25rem;
    width: auto; 

    display: flex;
    justify-content: center;
    align-items: center;
}

.quote_info {
    font-size: 32px;
    font-style: italic;
}

strong {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

