body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;

    flex-basis: auto;

    padding: 0px;
    margin: 0px;
    
}

/* Header */
header {
    color: #F9FAF8;
    background-color: #1F2937;
    
    padding: 16px;

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto; 
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;

    width: auto;
}

.header_right {
    display: flex;
    justify-content: center;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

.container_main {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    
    gap: 0px;
    padding: 32px;
}

.header_main_left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1 1 0;

    padding: 64px;

}

.header_main_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    padding: 64px;
}

.header_main_left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.header_main_left h3 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.header_main_left button {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    border: 0;
}

/* Content */

/* -------- Section 2 -------- */
.section_2 {
    background-color: white;
}

/* -------- Section 3 -------- */

.section_3 {
    background-color: #E5E7EB;
}

/* -------- Section 4 -------- */

.section_4 {
    background-color: white;
}

/* -------- Section Footer -------- */

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;

    padding: 24px;
}
